 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --primary: white;
    --text: black;
    --hover: #DB975F;
    --red: #F84E4E;
    --green: #009406;
    --background-color: #e2e2e2;

}




.cart-btn{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 20px;
}

.cancel-btn{
    
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #F84E4E;
    background-color: #F84E4E;
    padding: 12px 25px;
    transition: all .42s ease;
    border-radius: 5px;
}

.cancel-btn:hover{
    background-color: #e5383b;
    color: var(--primary);

}

.checkout-btn{
    
    justify-content: center;
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid var(--hover);
    background-color: var(--hover);
    padding: 12px 25px;
    transition: all .42s ease;
    border-radius: 5px;
}

.checkout-btn:hover{
    background-color: var(--hover);
    color: var(--primary);

}




table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

th{
    text-align: LEFT;
    padding: 20px;
    color: var(--text);
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
}

td{
    padding: 20px 10px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 10px;
    
}

td a{
    color: var(--red);
    font-size: 13px;
    padding-left: 20px;
    

}

td p{
    font-weight: 600;
    padding-left: 20px;
    font-size: 18px;
    
}

td img{
    width: 8vw;
    margin-right: 10px;
    margin-bottom: 10PX;
}

tr{
    border-bottom: 1px solid #c1c1c1;
}



.total-price{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-top: 100px;
    
}



.total-price table{
    margin-top: 30px;
    width: 100%;
    max-width: 400px;
    border: none;
   
   
}

.total-price td{
    font-weight: 700;
}


.total-price tr{
    margin-top: 20px;
    border: none;
}

.total-price td{
    padding: 20px;
    
}

td:last-child{
    text-align: center;
    font-size: 18px;
}

th:last-child{
    text-align: center;
}

.table-container{
    background-color: var(--background-color);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    
}

.table-container h1{
    
        font-size: 1em;
        line-height: 1.5em;
        font-weight: 400;
        
        margin: 24px 24px 24px;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;
    
}

.Quantity-num{
    font-size: 18px;
    font-weight: 500;
    padding: 30px;
}