*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --primary: white;
    --text: black;
    --hover: #DB975F;
    --red: #F84E4E;
    --green: #009406;
    --background-color: #e2e2e2;
    --text-effect: #70706E;
    --icon-color: #232321;
    --hover-effect: #a56a3a;

}

html{
    scroll-behavior: smooth;
}

.button-edit{
    background-color: var(--hover);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: var(--primary);
}

.button-edit:hover{
    background-color: var(--hover-effect);
}

.alt{
    margin-bottom: -5px;
}