*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --primary: white;
    --text: black;
    --hover: #DB975F;
    --red: #F84E4E;
    --green: #009406;
    --background-color: #e2e2e2;

}





.purchase-table{
padding: 0;
margin-bottom: 100px;
}




.status-btn a{
    display: inline-block;
    border: 1px solid var(--green);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--green);
    color: var(--primary);
    max-width: 100%;
    white-space: nowrap;
}


td img{
    display: none;
}
@media (max-width: 480px){
    td img{
        display: none;
        
        
    }
    
}