/* Responsive CSS */

@media (max-width: 2560px) {
    .shop-product-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        width: 100%;
    }
}

@media (max-width: 1500px) {
    .about-us-1 p {
        text-align: justify;
    }
}

@media (max-width: 1440px) {
    .shop-product-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .button1 {
        font-size: 15px;
        padding: 15px;
    }

    .signup-form-container {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;
    }

    td p {
        padding-left: 0;
    }

    td a {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .about-us-1 p {
        text-align: justify;
    }

    .menu {
        display: flex;
        justify-content: center;
        gap: 1px;
    }

    .row {
        flex: 0 0 calc(33.33% - 20px);
        margin: 10px;
    }

    .row h5 {
        font-size: 15px;
    }

    .price p {
        font-size: 14px;
    }

    .login-form-container {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0;
        padding-top: 20px;
    }

    .login-container img {
        display: none;
    }

    .login-form {
        padding: 50px;
    }

    form{
        padding: 3rem 0 0 0;
    }
}

@media only screen and (max-width: 600px) {
    .shop-container {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: center;
        gap: 1px;
    }

    .row {
        flex: 0 0 calc(33.33% - 20px);
        margin: 10px;
    }

    .col-2 img {
        padding: 0;
    }

    td p {
        padding-left: 0;
    }

    .table-container {
        width: 100%;
    }

    .cart-btn {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 20px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .checkout-btn,
    .cancel-btn {
        text-align: center;
    }

    .small-container{
        width: 100%;
        
    }
}

@media (min-width: 553px) {
    .shop-container {
        display: flex;
        justify-content: flex-start;
        padding: 20px;
    }
}

@media (max-width: 515px){
    .small-container{
        width: 100%;
    }
} 

@media (max-width: 890px) {
    header {
        padding: 20px 3%;
        transition: .4s;
    }

    .about-us-1 p {
        text-align: justify;
    }

    .menu {
        display: flex;
        justify-content: center;
        gap: 1px;
    }

    .row {
        flex: 0 0 calc(33.33% - 20px);
        margin: 10px;
    }

    .row h5 {
        font-size: 18px;
    }

    .price p {
        font-size: 15px;
    }

    .col-2 {
        flex-basis: 100%;
        margin: 25px 0;
    }

    .button2 {
        margin-top: 50px;
        display: inline-block;
        color: var(--text);
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        border: 2px solid var(--hover);
        padding: 12px 25px;
        background-color: transparent;
        transition: all 0.42s ease 0s;
        border-radius: 5px;
        width: 100%;
    }

    .cart-totals {
        width: 70%;
        transition: all 0.42s ease 0s;
    }

    .class1 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border: none;
    }

    td img {
        width: 15vw;
        margin-right: 10px;
        transition: all .42s;
    }

    td p {
        padding-left: 0;
    }

    td a {
        padding-left: 0;
    }

    .signup-form-container {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0;
    }

    .signup-container img {
        display: none;
    }

    .signup-form {
        padding: 50px;
    }

    form{
        padding: 3rem 0 0 0;
    }

    .my-account-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 100px;
    }

    .small-container {
        width: 100%;
        padding: 0;
    }

}

@media (max-width: 630px) {
    .main-text h1 {
        font-size: 50px;
        transition: .4s;
    }

    .main-text p {
        font-size: 18px;
        transition: .4s;
    }

    .main-btn {
        padding: 10px 20px;
        transition: .4s;
    }

    #menu-icon {
        display: inline-block;
    }

    .menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }


    td img {
        width: 20vw;
        margin-right: 10px;
    }

    .my-account-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 100px;
        
        
    }
}

@media (max-width: 750px) {
    .nav-menu {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: #FEFBF6;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }

    .nav-menu a {
        display: block;
        margin: 18px 0;
    }

    .nav-menu.open {
        right: 0;
    }

    #menu-icon {
        display: inline-block;
    }

    .shop-product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        width: 100%;
    }

    td p {
        font-size: 16px;

    }
}

@media (max-width: 480px) {
    .menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(2, 1fr);

        gap: 10px;
    }

    .shop-product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        width: 100%;
    }

    .col-2 img {
        padding: 0;
    }

    td img {
        width: 25vw;
        margin-right: 10px;
    }

    section {
        padding: 5% 5%;
    }

    .small-container{
        width: 100%;
        
    }

    
    
    
}


@media (max-width: 450px){
    .footer{
        background-color: transparent;
    }
}
